*{
    padding: 0;margin: 0;
}
header{
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
nav{
    background-color: aqua;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
ul{
    width: 90%;
    height: 90%;
    /* border: 1px solid black; */
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
li{
    list-style: none;
}
li  :hover{
    color: red;
}
a>img{
width: 60px;
height: 50px;
}
footer{
width: 98%;
height: 200px;
background-color: rgb(53, 45, 45);
color: white;
/* padding: 40px; */
display: flex;
margin-left: 13px;


}
footer.img{
height: 150px;
width: 200px;
/* padding-top: 40px; */
}
.lastfoter{
width: 100%;
height: 30px;
color: white;
background-color: black;
display: flex;
align-items: center;
justify-content: center;

}
.view{
width: 100%;
height: auto;
background-color: rgb(189, 138, 71);
color: black;
text-align: center;
}
#view-student{
width: 100%;
height: auto;
/* padding: 40px; */
/* border: 1px solid black; */
background-color: blue;
color: white;
margin-top: 30px;
margin-bottom: 30px;
}
table, th, td {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    
  }
  tr{
    background-color: aliceblue;
    color: black;
    height: 50px;
  }
  th{
    background-color: blueviolet;
  }